.mainContainer {
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  height: 250px;
  width: 400px;
  margin: 20px auto;
  background-color: var(--background-color);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mainContainer h1 {
  color: var(--text-main-color);
  padding: 12px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.mainContainer hr {
  border: 1px solid var(--primary-color);
  width: 50%;
  margin: 0 auto;
}

.mainContainer h2 {
  height: 60%;
  border: 1px solid red;
  color: var(--text-color);
  font-size: 100%;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding: 12px 0;
}

.mainContainer:hover {
  transform: scale(1.01);
}
