@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Yesteryear");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(217, 146, 75);
  --background-color: rgb(34, 44, 53);
  --background-dark-color: rgb(27, 35, 42);
  --text-main-color: rgb(219, 220, 221);
  --text-color: rgb(132, 134, 135);
}
